<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Bobcat</h4>
  </div>
  <div class="user-content">
    <p>
      让流浪的足迹在荒漠里写下永久的回忆
    </p>
    <p>
      轻飘飘的旧时光，就这么溜走；转头回去看看时，已匆匆数年。
    </p>
  </div>
</div>