<div class="col s12">
	<div class="row">
		<div class="col s3 m2 l2 xl1">微信：</div>
		<div class="col s6 m4">
			<img class="materialboxed z-depth-4" style="border-radius: .5rem;" width="100%" src="/assets/img/my-wechat.png" />
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col s3 m2 l2 xl1">QQ：</div>
		<a href="http://wpa.qq.com/msgrd?v=3&uin=2386209384&site=qq&menu=yes">1747050063</a>
	</div>
	<hr>
	
	<div class="row">
		<div class="col s3 m2 l2 xl1">留言：</div>
		<a href="/message">留言板</a>
	</div>
	<hr>
</div>